@import "variable";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr;
    justify-items: center;
    height: 100vh;
    // min-height: 100%;
    gap: 3px;

    img{
        overflow: hidden;
    }
    p{
        font-size: 1.1rem;
        color: $font-color;
    }
    .panel{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .welcome{
      background: $main-color;
    //   padding: 0px 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .welcome-info{
        text-align: center;
        padding: 0px 20px;
        h1{
            color: $font-color;
            letter-spacing: .1em;
        }
        p{
              color: $font-color;
              letter-spacing: .05em;             
            }
      } 
        nav {
            display: grid;
            grid-template-columns: repeat(5,1fr);
            // gap: 8px;
            justify-items: center;
            border-bottom: 1px solid $font-color;
            padding: 15px 0;
            background-color: $font-color;
            a{
            color: $main-color;
            font-size: 11px;
            text-decoration: none;
            font-weight: bold;
            text-transform: uppercase;
            padding: 5px 3px;
            border-radius: 5px;
            &:hover{
             background-color: $main-color;
             color: $font-color;
            }
        }
      }
      footer{
        align-self: flex-end;
        text-align: center;
        align-self: center;
        border-top: 1px solid $font-color;
        padding: 15px 0;
        width: 100%;
        background: $font-color;
        p{
            color: $main-color;
            font-size: 16px;
        }
      }
    }
    .about{
        grid-template-rows: 2fr 1fr;
        gap: 2px;
        overflow: hidden;
        
        .text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 1rem 1rem;
            background: $font-color;
         
            text-align: center;
            h2{
                letter-spacing: .1em;
                color: $main-color;
            }
            p{
                letter-spacing: .05em;  
                color: $main-color;
              }
        }
        img{
            min-width: 100%;
            min-height: 100%;
            overflow: hidden;
        }
    }
    .portfolio{
        grid-template-rows:1fr 2fr;
        gap: 2px;
        overflow: hidden;
        min-width: 100%;
        min-height: 100%;
        .text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 1rem 1rem;
            background:$font-color;
            text-align: center;
            // align-self: center;
            // border-radius: 10px;
            h2{
                letter-spacing: .1em;
                color: $main-color;
            }
            p{
              letter-spacing: .05em;
              color: $main-color;  
            }
        }
        img{
            min-width: 100%;
            min-height: 100%;
            object-fit: cover;
        }
    }
}

#contact{
    margin-top: 2px;
    padding: 30px;
    background-color: $font-color;
    border-bottom: $main-color;
    h1{
        text-align: center;
        padding: 10px;
        border-bottom: 1px solid $main-color;
        color: $main-color;
    }
    // height: 100vh;
    .contact-container{

        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
        gap: 20px;
        height: 85vh;
        padding:20px;
        font-size: 20px;
        .contacts-info{
            justify-self: center;
            color: $main-color;

            h2{
                padding: 10px 0px;
                // text-align: center;
            }
            .contact{
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 5px;
            }
           
        }
    }
    .contact-form{
        justify-self: center;
        .form-container{
            width:400px;
            display: flex;
            gap: 10px;
            flex-direction: column;
            input{
                padding: 10px;
                border-radius: 5px;
                border: none;
                outline: none;
                background-color: $main-color;
                color: $font-color;
                &[type="text"]{
                    font-family:Verdana, Geneva, Tahoma, sans-serif;
                }
                &[type="email"]{
                    font-family:Verdana, Geneva, Tahoma, sans-serif;
                }
            }
            textarea{
                padding: 10px;
                background-color: $main-color;
                border-radius: 5px;
                border: none;
                outline: none;
                color: $font-color;
                font-family:Verdana, Geneva, Tahoma, sans-serif;
            }
            .btn-container{
                // text-align: center;
                button{
                    padding: 10px;
                    border-radius: 5px;
                    border: none;
                    background-color: $main-color;
                    color: $font-color;
                  
                    i{
                        margin-left: 10px;
                    }
                }
            }
          
        }
    }
   
}



@media (max-width : 576px){
 main{
      grid-template-columns: 1fr ;
      grid-template-rows: 400px 700px 700px;
      height: auto;
      .welcome{
        h1{
            font-size: 25px;
        }
        p{
            font-size: 16px;
        }
        nav{
            a{
                font-size: 10px;
            }
        }
        footer{
            p{
                font-size: 14px;
            }
        }
      }
      .about{
        grid-template-rows: 1fr 1fr;
        .text{
            h2{
             font-size: 25px;
            }
            p{
                font-size: 16px;
            }
        }
        img{
           object-fit: cover;
           height: 400px;
           overflow: hidden;
        }
      }
      .portfolio{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        .text{
            h2{
             font-size: 25px;
            }
            p{
                font-size: 16px;
            }
        }
      }
 } 
 #contact{
    .contact-container{
        grid-template-columns: 1fr;
     }
 }
 
}
@media (min-width : 577px) and (max-width:768px){
    main{
        grid-template-columns:1fr 1fr;
        grid-template-rows: 500px 400px 400px;
        height: auto;
        .welcome{
            grid-column: span 2;
          }
          .about{
           grid-template-columns: 1fr 1fr;
           grid-column: span 2;
           grid-template-rows: 1fr ;
           img{
            width: 100%;
            object-fit: cover;
           }
          }
         .portfolio{
           grid-template-columns: 1fr 1fr;
           grid-column: span 2;
           grid-template-rows: 1fr ;
         }
    }  
    #contact{

    }   
   }
   @media (min-width : 769px) and (max-width:992px){
    main{
        grid-template-columns:1fr 1fr;
        .about{
            img{
                object-fit: cover;
            }
        }
        .portfolio{
            grid-template-columns: 1fr 1fr;
            grid-column: span 2;
            grid-template-rows: 1fr;
            
          }
          }      
    }
      
