* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr;
  justify-items: center;
  height: 100vh;
  gap: 2px;
}
main img {
  overflow: hidden;
}
main p {
  font-size: 1.1rem;
  color: #a8a8a8;
}
main .panel {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}
main .panel img {
  width: 100%;
  height: 100%;
}
main .welcome {
  background: #323230;
  padding: 0px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .welcome .welcome-info {
  text-align: center;
}
main .welcome .welcome-info h1 {
  color: #a8a8a8;
  letter-spacing: 0.1em;
}
main .welcome .welcome-info p {
  color: #a8a8a8;
  letter-spacing: 0.05em;
}
main .welcome nav {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  border-bottom: 1px solid #a8a8a8;
  padding: 15px 0;
}
main .welcome nav a {
  color: #a8a8a8;
  font-size: 11px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px 3px;
  border-radius: 5px;
}
main .welcome nav a:hover {
  background-color: #a8a8a8;
  color: #323230;
}
main .welcome footer {
  align-self: flex-end;
  text-align: center;
  align-self: center;
  border-top: 1px solid #a8a8a8;
  padding: 15px 0;
  width: 100%;
}
main .welcome footer p {
  color: #a8a8a8;
  font-size: 16px;
}
main .about {
  grid-template-rows: 2fr 1fr;
  gap: 2px;
  overflow: hidden;
}
main .about .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 1rem;
  background: #323230;
  text-align: center;
}
main .about .text h2 {
  letter-spacing: 0.1em;
  color: #a8a8a8;
}
main .about .text p {
  letter-spacing: 0.05em;
}
main .about img {
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
}
main .photos {
  grid-template-rows: 1fr 2fr;
  gap: 2px;
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
}
main .photos .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 1rem;
  background: #323230;
  text-align: center;
}
main .photos .text h2 {
  letter-spacing: 0.1em;
  color: #a8a8a8;
}
main .photos .text p {
  letter-spacing: 0.05em;
}
main .photos img {
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 576px) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: 400px 700px 700px;
  }
  main .welcome h1 {
    font-size: 25px;
  }
  main .welcome p {
    font-size: 16px;
  }
  main .welcome nav a {
    font-size: 10px;
  }
  main .welcome footer p {
    font-size: 14px;
  }
  main .about {
    grid-template-rows: 1fr 1fr;
  }
  main .about .text h2 {
    font-size: 25px;
  }
  main .about .text p {
    font-size: 16px;
  }
  main .about img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 400px;
    overflow: hidden;
  }
  main .photos {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  main .photos .text h2 {
    font-size: 25px;
  }
  main .photos .text p {
    font-size: 16px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  main {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px 400px 400px;
  }
  main .welcome {
    grid-column: span 2;
  }
  main .about {
    grid-template-columns: 1fr 1fr;
    grid-column: span 2;
    grid-template-rows: 1fr;
  }
  main .about img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .photos {
    grid-template-columns: 1fr 1fr;
    grid-column: span 2;
    grid-template-rows: 1fr;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  main {
    grid-template-columns: 1fr 1fr;
  }
  main .about img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .photos {
    grid-template-columns: 1fr 1fr;
    grid-column: span 2;
    grid-template-rows: 1fr;
  }
}/*# sourceMappingURL=style.css.map */